.sidebarHead {
    color: white;
}
.category {
    color: white;
    text-align: left;
    background-color: brown;
    opacity: .6;
    width: 22%;
    margin-left: 110px;
    margin-top: -120px;
    border-radius: 10px;
}


