.content {
    background-color: white;
    margin-left:20px;
}

.choices {
    text-align: left;
}

.question {
    text-align:left;
}

.choice {
    color: black;
}

.categoryHeading {
    color: blue;
}

.btnPrev {
    width: 100px;
}

.btnNext {
    width: 100px;
}