.content {
    wifdth: 75%;
    background-color: white;
    margin-left:0px;
    
}

.choices {
    text-align: left;
}

.question {
    text-align:left;
}

.buttons {
    text-align:left;
}

.choice {
    color: black;
}

.correctAnswer {
    color: green;
}

.incorrectAnswer {
    color: red;
}

.categoryHeading {
    color: blue;
}