.login-div {
     width: 300px;
     margin-top: 210px;
     background-color: rgb(51, 108, 173);
     opacity: .88;
}

.loginForm {
    height: 350px;
}

.form {
    text-align: center;
    align-content: middle;
    margin: auto;
}

.invalidLoginMsg {
    color: white;
    font-size: 1.2em;
    background-color: rgb(51, 108, 173);
    margin-left: -0px;
    margin-bottom: -130px;
}

.closeBtn {
    background-color: red;
    margin-top: -30px;
}

.closeBtnLbl {
    background-color: red;
    margin: auto;
}

.logoDiv {
    background-color: black;
}

.successMsg {
    font-size: 1.2em;
    color: white;
    margin-bottom: 20px;
}

.BtnChangePsw:hover {
    color: red;
    cursor: pointer;
    font-size: .9em;
}

.btnLogin {
    margin-bottom: 90px;
}

.btnSignup {
    margin-bottom: 90px;
    margin-left: 10px;
}

.btnCancelMembership {
    margin-top: -120px;
}








